In [1]:
import pandas as pd             # data package
import matplotlib.pyplot as plt # graphics 
import datetime as dt
import numpy as np
from census import Census # This is new...

import requests, io             # internet and input tools  
import zipfile as zf            # zip file tools 
import os  

#import weightedcalcs as wc
#import numpy as np

import pyarrow as pa
import pyarrow.parquet as pq

In [12]:
new_list = pd.read_csv('./tariff-lists/agust-7-tariffs.csv')

new_list.rename({"Countries and Territories":"country_name", 
                 "Reciprocal Tariff, Adjusted": "rtariff-aug"}, axis = 1, inplace = True)

In [ ]:
new_list["country_name"] = new_list["country_name"].str.upper()

new_list["rtariff-aug"] = (
    new_list["rtariff-aug"]
    .str.replace(r'[^0-9.\-]', '', regex=True)  # Remove any non-numeric character except . and -
    .replace('', '0')                          # Optional: replace empty strings with 0
    .astype(float)                             # Convert to float
)

new_list.head()

  country_name  rtariff-aug
0  AFGHANISTAN         15.0
1      ALGERIA         30.0
2       ANGOLA         15.0
3   BANGLADESH         20.0
4      BOLIVIA         15.0

In [15]:
new_list[new_list["country_name"] == "BRAZIL"]

  country_name  rtariff-aug
7       BRAZIL         10.0

In [16]:
new_list.to_csv('./tariff-lists/clean-august-7-tariffs.csv', index= False)