In [1]:
import pandas as pd             # data package
import matplotlib.pyplot as plt # graphics 
import datetime as dt
import numpy as np
from census import Census # This is new...

import requests, io             # internet and input tools  
import zipfile as zf            # zip file tools 
import os  

#import weightedcalcs as wc
#import numpy as np

import pyarrow as pa
import pyarrow.parquet as pq

In [2]:
country_list = pd.read_csv('./data/CensusCountryMapping_FRBAtl_short.csv', dtype={'CTY_CODE': str})

country_list.loc[len(country_list)] = ["0003", "EUE", "EUROPEAN UNION"]

country_list.loc[len(country_list)] = ["5082", "GZA", "Gaza"]

country_list.loc[len(country_list)] = ["5083", "WBK", "West Bank"]

country_list = country_list.dropna()

country_list["tariff"] = 10.0

country_list.loc[country_list["CTY_CODE"] == "5700", "tariff"] = 30.0

country_list.loc[country_list["CTY_CODE"] == "5820", "tariff"] = 30.0

country_list.loc[country_list["CTY_CODE"] == "1220", "tariff"] = 8.75

country_list.loc[country_list["CTY_CODE"] == "2010", "tariff"] = 4.5

country_list.loc[country_list["CTY_CODE"] == "0003", "tariff"] = 10.0

recipricol = pd.read_csv('./tariff-lists/reciprocal-tariffs-annex-I.csv', dtype={'CTY_CODE': str})

recipricol.rename(columns={"tariff_rate": "rtariff"}, inplace = True)

country_list = pd.merge(left = country_list, right = recipricol[["rtariff", "CTY_CODE"]], on = "CTY_CODE", how = "left")

country_list["rtariff"] = country_list["rtariff"].fillna(10.0)

country_list.loc[country_list["CTY_CODE"] == "5700", "rtariff"] = 34.0

country_list.loc[country_list["CTY_CODE"] == "5820", "rtariff"] = 34.0
#IF EU you get 50 and you'll like it

country_list["country"] = country_list["country"].str.upper()

In [3]:
country_list.head(25)

   CTY_CODE ISO3                 country  tariff  rtariff
0      4271  AND                 ANDORRA    10.0     10.0
1      5200  ARE    UNITED ARAB EMIRATES    10.0     10.0
2      5310  AFG             AFGHANISTAN    10.0     10.0
3      2484  ATG     ANTIGUA AND BARBUDA    10.0     10.0
4      2481  AIA                ANGUILLA    10.0     10.0
5      4810  ALB                 ALBANIA    10.0     10.0
6      4631  ARM                 ARMENIA    10.0     10.0
7      7620  AGO                  ANGOLA    10.0     32.0
8      3570  ARG               ARGENTINA    10.0     10.0
9      4330  AUT                 AUSTRIA    10.0     10.0
10     6021  AUS               AUSTRALIA    10.0     10.0
11     2779  ABW                   ARUBA    10.0     10.0
12     4632  AZE              AZERBAIJAN    10.0     10.0
13     4793  BIH  BOSNIA AND HERZEGOVINA    10.0     36.0
14     2720  BRB                BARBADOS    10.0     10.0
15     5380  BGD              BANGLADESH    10.0     37.0
16     4231  BEL                 BELGIUM    10.0     10.0
17     7600  BFA            BURKINA FASO    10.0     10.0
18     4870  BGR                BULGARIA    10.0     10.0
19     5250  BHR                 BAHRAIN    10.0     10.0
20     7670  BDI                 BURUNDI    10.0     10.0
21     7610  BEN                   BENIN    10.0     10.0
22     2320  BMU                 BERMUDA    10.0     10.0
23     5610  BRN       BRUNEI DARUSSALAM    10.0     24.0
24     3350  BOL                 BOLIVIA    10.0     10.0

In [4]:
new_list = pd.read_csv('./tariff-lists/clean-august-7-tariffs.csv')

new_list.rename({"country_name":"country"}, axis = 1, inplace = True)

new_list["country"] = new_list["country"].str.upper()

country_list = pd.merge(country_list, new_list, on="country", how="left")

country_list["rtariff-aug"] = country_list["rtariff-aug"].fillna(country_list["rtariff"])

country_list.loc[country_list["country"] == "EUROPEAN UNION", "rtariff-aug"] = 15.0

country_list.loc[country_list["country"] == "KOREA, SOUTH", "rtariff-aug"] = 15.0

country_list.loc[country_list["country"] == "INDIA", "rtariff-aug"] = 50.0

In [5]:
eu_iso3_codes = [
    "AUT", "BEL", "BGR", "HRV", "CYP", "CZE", "DNK", "EST", "FIN",
    "FRA", "DEU", "GRC", "HUN", "IRL", "ITA", "LVA", "LTU", "LUX",
    "MLT", "NLD", "POL", "PRT", "ROU", "SVK", "SVN", "ESP", "SWE"
]

country_list.loc[country_list["ISO3"].isin(eu_iso3_codes), "rtariff-aug"] = 15.0

In [6]:
country_list.loc[country_list["country"] == "EUROPEAN UNION"]

    CTY_CODE ISO3         country  tariff  rtariff  rtariff-aug
223     0003  EUE  EUROPEAN UNION    10.0     20.0         15.0

In [7]:
expemption_list = pd.read_csv('./tariff-lists/annex-II-exemptions.csv', dtype={'HTSUS': str})
# these are the annex II exemptions from the reciprical tariff list

expemption_list_phones = pd.read_csv('./tariff-lists/41225_exemptions.csv', dtype={'HTSUS': str})
# these are the phone exemptions

steel_list = pd.read_csv('./tariff-lists/steel-tariffs.csv', dtype={'HTSUS': str})
# these are the steel products subject to the new 232 tariffs. This is at 8 digit level.

alu_list = pd.read_csv('./tariff-lists/alu-tariffs.csv', dtype={'HTSUS': str})
# these are the aluminum products subject to the new 232 tariffs. This is at a mixed 8 and 10 digit level.

alu_8_list = alu_list[alu_list['HTSUS'].str.len() == 8]

auto_list = pd.read_csv('./tariff-lists/auto-tariffs.csv', dtype={'HTSUS': str})
# these are the aluminum products subject to the new 232 tariffs. This is at a mixed 8 and 10 digit level.

auto_6_list = auto_list[auto_list['HTSUS'].str.len() == 6]

auto_8_list = auto_list[auto_list['HTSUS'].str.len() == 8]

copper_list = pd.read_csv('./tariff-lists/copper-list.csv', dtype={'HTSUS': str})

# country_list = pd.read_csv('./tariff-lists/reciprocal-tariffs-annex-I.csv',dtype={'CTY_CODE': str})

In [8]:
def weighted_average(df, value_col, weight_col):
    """
    Compute the weighted average of `value_col` using `weight_col` as weights.
    """
    return (df[value_col] * df[weight_col]).sum() / df[weight_col].sum()

In [9]:
def get_all_imports(cnty_code, tariff, ISO3):

    my_key = "&key=34e40301bda77077e24c859c6c6c0b721ad73fc7"

    hs = 'HS10'

    end_use = "hs?get=CTY_NAME,CON_VAL_YR,CAL_DUT_YR,I_COMMODITY,I_COMMODITY_SDESC"

    surl = "https://api.census.gov/data/timeseries/intltrade/imports/" + end_use 

    surl  = surl + my_key + "&time=" + "2024-12" + "&COMM_LVL=" + hs 

    url = surl + "&CTY_CODE=" + cnty_code

    r = requests.get(url) 
    
    print(r)
    
    df = pd.DataFrame(r.json()[1:]) # This then converts it to a dataframe
    # Note that the first entry is the labels

    df.columns = r.json()[0]

    #######################################################################

    df.time = pd.to_datetime(df.time, format="%Y-%m")

    df["imports"] = df["CON_VAL_YR"].astype(float)

    df["duty"] = df["CAL_DUT_YR"].astype(float)

    df["share"] = df["imports"] / df["imports"].sum()
            
    df[hs] = df["I_COMMODITY"].astype(str)

    df["HS8"] = df["HS10"].str[0:8]

    df["HS6"] = df["HS10"].str[0:6]

    df["HS2"] = df["HS10"].str[0:2]

    #######################################################################
    # this then filters so products are only those that are subject to the new tariffs
    # the reciprocal exemptions, steel, aluminum and auto tariffs.

    df["tariff"] = tariff

    exemption = df["HS10"].isin(expemption_list["HTSUS"].tolist()) 

    df.loc[exemption, "tariff"]  = 0.0

    ####################################################
    # this is the phone exemption list. This is a 10 digit list.

    exemption_phones = df["HS10"].isin(expemption_list_phones["HTSUS"].tolist()) 

    if cnty_code == "5700": # if china then still Fentanyl 20 percent on the phones

        df.loc[exemption_phones, "tariff"] = 20.0

    else:

        df.loc[exemption_phones, "tariff"] = 0.0

    ####################################################

    steel = df["HS8"].isin(steel_list["HTSUS"].tolist())

    if cnty_code == "4120": # if the UK, then exempted from the increase

        df.loc[steel, "tariff"]  = 25.0 

    else:

        df.loc[steel, "tariff"]  = 50.0 


    ####################################################

    alu = df["HS10"].isin(alu_list["HTSUS"].tolist()) | df["HS8"].isin(alu_8_list["HTSUS"].tolist())

    if cnty_code == "4120": # if the UK, then exempted from the increase
    
        df.loc[alu, "tariff"]  = 25.0 

    else:

        df.loc[alu, "tariff"]  = 50.0
        

    ####################################################


    auto = df["HS8"].isin(auto_8_list["HTSUS"].tolist()) | df["HS10"].isin(auto_list["HTSUS"].tolist()) | df["HS6"].isin(auto_6_list["HTSUS"].tolist())

    if cnty_code == "1220": # if canada or mexico, then assumption is no tariff

        df.loc[auto, "tariff"]  = 0.0

    elif cnty_code == "2010":

        df.loc[auto, "tariff"]  = 0.0

    elif cnty_code == "5880":
    # Japan gets an auto deal

        df.loc[auto, "tariff"]  = 15.0

    elif cnty_code == "0003":
    #EU gets and auto deal

        df.loc[auto, "tariff"]  = 15.0

    elif ISO3 in eu_iso3_codes:

        df.loc[auto, "tariff"]  = 15.0

    elif cnty_code == "5800":
        #Korea gets an auto deal

        df.loc[auto, "tariff"]  = 15.0

    else:
        df.loc[auto, "tariff"]  = 25.0


    ####################################################
            
    copper = df["HS8"].isin(copper_list["HTSUS"].tolist())

    df.loc[copper, "tariff"]  = 50.0

    ####################################################


    return df

In [ ]:
for index, row in country_list.iterrows():

    print(f"Processing {row['country']}")

    out_file = f'./data-hs2/hs2-tariff-{row["CTY_CODE"]}.csv'

    # if os.path.exists(out_file):
        
    #     print("Already have downloaded file")
        
    #     continue
    
    df = get_all_imports(row["CTY_CODE"], row["rtariff-aug"], row["ISO3"])

    dfhs2 = df.groupby("HS2").agg({"imports": "sum", "duty": "sum", "CTY_NAME": "first", 
                              "CTY_CODE": "first"}).reset_index()

    foo = df.groupby("HS2").apply(lambda x: weighted_average(x, "tariff", "imports"))

    dfhs2 = dfhs2.merge(foo.rename("2025_tariff_increase"), left_on="HS2", right_index=True)

    dfhs2.rename(columns={"imports": "2024_imports", "duty": "2024_duty"}, inplace=True)

    dfhs2["2024_tariff"] = 100* ( dfhs2["2024_duty"] / dfhs2["2024_imports"] )

    dfhs2.to_csv(out_file, index=False)

Processing ANDORRA
<Response [200]>
Processing UNITED ARAB EMIRATES
<Response [200]>
Processing AFGHANISTAN
<Response [200]>
Processing ANTIGUA AND BARBUDA
<Response [200]>
Processing ANGUILLA
<Response [200]>
Processing ALBANIA
<Response [200]>
Processing ARMENIA
<Response [200]>
Processing ANGOLA
<Response [200]>
Processing ARGENTINA
<Response [200]>
Processing AUSTRIA
<Response [200]>
Processing AUSTRALIA
<Response [200]>
Processing ARUBA
<Response [200]>
Processing AZERBAIJAN
<Response [200]>
Processing BOSNIA AND HERZEGOVINA
<Response [200]>
Processing BARBADOS
<Response [200]>
Processing BANGLADESH
<Response [200]>
Processing BELGIUM
<Response [200]>
Processing BURKINA FASO
<Response [200]>
Processing BULGARIA
<Response [200]>
Processing BAHRAIN
<Response [200]>
Processing BURUNDI
<Response [200]>
Processing BENIN
<Response [200]>
Processing BERMUDA
<Response [200]>
Processing BRUNEI DARUSSALAM
<Response [200]>
Processing BOLIVIA
<Response [200]>
Processing BRAZIL
<Response [200]>
Processing BAHAMAS
<Response [200]>
Processing BHUTAN
<Response [200]>
Processing BOTSWANA
<Response [200]>
Processing BELARUS
<Response [200]>
Processing BELIZE
<Response [200]>
Processing CANADA
<Response [200]>
Processing COCOS (KEELING) ISLANDS
<Response [200]>
Processing DR CONGO
<Response [200]>
Processing CENTRAL AFRICAN REPUBLIC
<Response [200]>
Processing CONGO REPUBLIC
<Response [200]>
Processing SWITZERLAND
<Response [200]>
Processing COTE D'IVOIRE
<Response [200]>
Processing COOK ISLANDS
<Response [200]>
Processing CHILE
<Response [200]>
Processing CAMEROON
<Response [200]>
Processing CHINA
<Response [200]>
Processing COLOMBIA
<Response [200]>
Processing COSTA RICA
<Response [200]>
Processing CABO VERDE
<Response [200]>
Processing CURACAO
<Response [200]>
Processing CHRISTMAS ISLAND
<Response [200]>
Processing CYPRUS
<Response [200]>
Processing CZECHIA
<Response [200]>
Processing GERMANY
<Response [200]>
Processing DJIBOUTI
<Response [200]>
Processing DENMARK

c:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in double_scalars
  """

<Response [200]>
Processing DOMINICA
<Response [200]>
Processing DOMINICAN REPUBLIC
<Response [200]>
Processing ALGERIA
<Response [200]>
Processing ECUADOR
<Response [200]>
Processing ESTONIA
<Response [200]>
Processing EGYPT
<Response [200]>
Processing ERITREA
<Response [200]>
Processing SPAIN
<Response [200]>
Processing ETHIOPIA
<Response [200]>
Processing FINLAND
<Response [200]>
Processing FIJI
<Response [200]>
Processing FALKLAND ISLANDS
<Response [200]>
Processing MICRONESIA, FED. STS.
<Response [200]>
Processing FAROE ISLANDS
<Response [200]>
Processing FRANCE
<Response [200]>
Processing GABON
<Response [200]>
Processing UNITED KINGDOM
<Response [200]>
Processing GRENADA
<Response [200]>
Processing GEORGIA
<Response [200]>
Processing FRENCH GUIANA
<Response [200]>
Processing GHANA
<Response [200]>
Processing GIBRALTAR
<Response [200]>
Processing GREENLAND
<Response [200]>
Processing GAMBIA
<Response [200]>
Processing GUINEA
<Response [200]>
Processing GUADELOUPE
<Response [200]>
Processing EQUATORIAL GUINEA
<Response [200]>
Processing GREECE
<Response [200]>
Processing GUATEMALA
<Response [200]>
Processing GUINEA-BISSAU
<Response [200]>
Processing GUYANA
<Response [200]>
Processing HONG KONG
<Response [200]>
Processing HONDURAS
<Response [200]>
Processing CROATIA
<Response [200]>
Processing HAITI
<Response [200]>
Processing HUNGARY
<Response [200]>
Processing INDONESIA
<Response [200]>
Processing IRELAND
<Response [200]>
Processing ISRAEL
<Response [200]>
Processing INDIA
<Response [200]>
Processing IRAQ
<Response [200]>
Processing IRAN
<Response [200]>
Processing ICELAND
<Response [200]>
Processing ITALY
<Response [200]>
Processing JAMAICA
<Response [200]>
Processing JORDAN
<Response [200]>
Processing JAPAN
<Response [200]>
Processing KENYA
<Response [200]>
Processing KYRGYZ REPUBLIC
<Response [200]>
Processing CAMBODIA
<Response [200]>
Processing KIRIBATI
<Response [200]>
Processing COMOROS
<Response [200]>
Processing ST. KITTS AND NEVIS
<Response [200]>
Processing SOUTH KOREA
<Response [200]>
Processing KUWAIT
<Response [200]>
Processing CAYMAN ISLANDS
<Response [200]>
Processing KAZAKHSTAN
<Response [200]>
Processing LAOS
<Response [200]>
Processing LEBANON
<Response [200]>
Processing ST. LUCIA
<Response [200]>
Processing LIECHTENSTEIN
<Response [200]>
Processing SRI LANKA
<Response [200]>
Processing LIBERIA
<Response [200]>
Processing LESOTHO
<Response [200]>
Processing LITHUANIA
<Response [200]>
Processing LUXEMBOURG
<Response [200]>
Processing LATVIA
<Response [200]>
Processing LIBYA
<Response [200]>
Processing MOROCCO
<Response [200]>
Processing MONACO
<Response [200]>
Processing MOLDOVA
<Response [200]>
Processing MONTENEGRO
<Response [200]>
Processing MADAGASCAR
<Response [200]>
Processing MARSHALL ISLANDS
<Response [200]>
Processing NORTH MACEDONIA
<Response [200]>
Processing MALI
<Response [200]>
Processing MYANMAR
<Response [200]>
Processing MONGOLIA
<Response [200]>
Processing MACAU
<Response [200]>
Processing MARTINIQUE
<Response [200]>
Processing MAURITANIA
<Response [200]>
Processing MONTSERRAT
<Response [200]>
Processing MALTA
<Response [200]>
Processing MAURITIUS
<Response [200]>
Processing MALDIVES
<Response [200]>
Processing MALAWI
<Response [200]>
Processing MEXICO
<Response [200]>
Processing MALAYSIA
<Response [200]>
Processing MOZAMBIQUE
<Response [200]>
Processing NAMIBIA
<Response [200]>
Processing NEW CALEDONIA
<Response [200]>
Processing NIGER
<Response [200]>
Processing NORFOLK ISLAND
<Response [200]>
Processing NIGERIA
<Response [200]>
Processing NICARAGUA
<Response [200]>
Processing NETHERLANDS
<Response [200]>
Processing NORWAY
<Response [200]>
Processing NEPAL
<Response [200]>
Processing NAURU
<Response [200]>
Processing NIUE
<Response [200]>
Processing NEW ZEALAND
<Response [200]>
Processing OMAN
<Response [200]>
Processing PANAMA
<Response [200]>
Processing PERU
<Response [200]>
Processing FRENCH POLYNESIA
<Response [200]>
Processing PAPUA NEW GUINEA
<Response [200]>
Processing PHILIPPINES
<Response [200]>
Processing PAKISTAN
<Response [200]>
Processing POLAND
<Response [200]>
Processing PITCAIRN
<Response [200]>
Processing PORTUGAL
<Response [200]>
Processing PALAU
<Response [200]>
Processing PARAGUAY
<Response [200]>
Processing QATAR
<Response [200]>
Processing REUNION
<Response [200]>
Processing ROMANIA
<Response [200]>
Processing SERBIA
<Response [200]>
Processing RUSSIA
<Response [200]>
Processing RWANDA
<Response [200]>
Processing SAUDI ARABIA
<Response [200]>
Processing SOLOMON ISLANDS
<Response [200]>
Processing SEYCHELLES
<Response [200]>
Processing SUDAN
<Response [200]>
Processing SWEDEN
<Response [200]>
Processing SINGAPORE
<Response [200]>
Processing ST. HELENA
<Response [200]>
Processing SLOVENIA
<Response [200]>
Processing SVALBARD AND JAN MAYEN ISLANDS
<Response [200]>
Processing SLOVAKIA
<Response [200]>
Processing SIERRA LEONE
<Response [200]>
Processing SAN MARINO
<Response [200]>
Processing SENEGAL
<Response [200]>
Processing SOMALIA
<Response [200]>
Processing SURINAME
<Response [200]>
Processing SOUTH SUDAN
<Response [200]>
Processing SAO TOME AND PRINCIPE
<Response [200]>
Processing EL SALVADOR
<Response [200]>
Processing SINT MAARTEN
<Response [200]>
Processing SYRIA
<Response [200]>
Processing ESWATINI
<Response [200]>
Processing TURKS AND CAICOS ISLANDS
<Response [200]>
Processing CHAD
<Response [200]>
Processing TOGO
<Response [200]>
Processing THAILAND
<Response [200]>
Processing TAJIKISTAN
<Response [200]>
Processing TOKELAU
<Response [200]>
Processing TIMOR-LESTE
<Response [200]>
Processing TURKMENISTAN
<Response [200]>
Processing TUNISIA
<Response [200]>
Processing TONGA
<Response [200]>
Processing TÃœRKIYE
<Response [200]>
Processing TRINIDAD AND TOBAGO
<Response [200]>
Processing TUVALU
<Response [200]>
Processing TAIWAN
<Response [200]>
Processing TANZANIA
<Response [200]>
Processing UKRAINE
<Response [200]>
Processing UGANDA
<Response [200]>
Processing URUGUAY
<Response [200]>
Processing UZBEKISTAN
<Response [200]>
Processing VATICAN
<Response [200]>
Processing ST. VINCENT AND THE GRENADINES
<Response [200]>
Processing VENEZUELA
<Response [200]>
Processing BRITISH VIRGIN ISLANDS
<Response [200]>
Processing VIETNAM
<Response [200]>
Processing VANUATU
<Response [200]>
Processing SAMOA
<Response [200]>
Processing YEMEN
<Response [200]>
Processing MAYOTTE
<Response [200]>
Processing SOUTH AFRICA
<Response [200]>
Processing ZAMBIA
<Response [200]>
Processing ZIMBABWE
<Response [200]>
Processing EUROPEAN UNION
<Response [200]>
Processing GAZA
<Response [200]>
Processing WEST BANK
<Response [200]>

In [ ]:
checkdf = pd.read_csv(f'./data-hs2/hs2-tariff-1220.csv')

In [ ]:
(checkdf["2025_tariff_increase"] * checkdf["2024_imports"]).sum() / checkdf["2024_imports"].sum()

6.408504722644438

In [ ]:
checkdf["2024_duty"].sum() / checkdf["2024_imports"].sum()

0.001004719282005802

In [ ]:
checkdf[checkdf["HS2"] == 87]

,HS2,2024_imports,2024_duty,CTY_NAME,CTY_CODE,2025_tariff_increase,2024_tariff
85,87,5.038833e+10,76997362.0,CANADA,1220,1.478907,0.152808